<!DOCTYPE html>
<html>
<head>
    <title>{{ book.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='book_detail.css') }}">
</head>


<body data-viewed-book-title="{{ book.name }}">
    <div
    id="viewed-book-data"
    data-book-title="{{ book.name }}"
></div>

    <p>
        <a href="{{ book.return_url }}">Back to search</a>
    </p>

    <h1>{{ book.name }}</h1>

    {% if book.cover_page %}
        <img src="{{ book.cover_page }}" width="180">
    {% endif %}

    <p>
        <strong>Authors:</strong>
        {% if book.authors %}
            {{ book.authors | join(", ") }}
        {% else %}
            Unknown
        {% endif %}
    </p>

    <p>
        <strong>Published:</strong>
        {{ book.publicationDate or "Unknown" }}
    </p>

    <p>
        <strong>ISBN:</strong>
        {{ book.ISBN or "No ISBN found" }}
    </p>

    <h2>Description</h2>

    {% if book.description %}
        <p>{{ book.description }}</p>
    {% else %}
        <p>No description available.</p>
    {% endif %}

    {% if book.url %}
        <p>
            <a href="{{ book.url }}" target="_blank">
                View on Open Library
            </a>
        </p>
    {% endif %}

    {% if book.openlibrary_key %}
    <button
        type="button"
        class="favorite-button"
        data-book-id="{{ book.openlibrary_key }}"
        data-book-title="{{ book.name }}"
        data-book-authors="{{ book.authors | join(', ') }}"
        data-book-year="{{ book.publicationDate or '' }}"
        data-book-isbn="{{ book.ISBN or '' }}"
        data-book-cover="{{ book.cover_page or '' }}"
        data-book-url="{{ book.url or '' }}"
        data-book-detail-url="{{ url_for('book_detail', book_key=book.openlibrary_key.lstrip('/')) }}"
    >
        Add to favorites
    </button>
{% endif %}
<script src="{{ url_for('static', filename='favorites.js') }}"></script>
<script src="{{ url_for('static', filename='history.js') }}"></script>

</body>
</html>