<!DOCTYPE html>
<html>
<head>
    <title>Favorite Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='favorites.css') }}">

</head>
<body>
    <h1>Favorite Books</h1>

    <nav class="page-nav">
    <a class="nav-button" href="{{ url_for('home') }}">Back to Search</a>
    <a class="nav-button" href="{{ url_for('history') }}">Search History</a>
</nav>

    <div id="favorites-list"></div>

    <script src="{{ url_for('static', filename='favorites.js') }}"></script>
</body>
</html>